# Progetto assembly 2016
# File: filename.s
# Data: 2016
# Autori: Alessandro Righi, Noè Murr, Mirko Morati
# Descrizione: descrizione

.incluce "syscall.inc"

# variabili globali
.text
# variabili const
.data
# variabili modificabili
.bss
# variabili modificalibi inizializzate a 0

# codice del programma
.text
.global funzione
.type funzione, @function
_start:
    pushl %ebp
    movl %esp, %ebp

    # codice della funzone
    
    movl %ebp, %esp
    popl %ebp
    ret
